.footer {
  width: 100%;
  min-height: 300px;
  margin-top: 110px;
  background-color: #3c3c3c;
  color: #a6a6a6;
  text-align: center;
  font-size: 14px;

  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;

    li {
      margin: 10px;
    }
  }

  a {
    color: inherit;
  }

  h3 {
    color: white;
  }

  .QRimg {
    width: 100px;
    height: 100px;
    transform: translateY(-74px);
  }

  .contact,
  .friendLinks {
    display: flex;
    flex-wrap: wrap;
  }

  .friendLinks a {
    text-decoration: underline;
  }
}
