<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge, chrome=1">
  <meta name="renderer" content="webkit">
  <meta name="keywords" content="快用工具,在线工具,自媒体工具,办公辅助工具,图片视频工具,文档工具,音频工具,压缩工具,fastools">
  <meta name="description" content="fastools.cn 快用工具 fastools 提供便捷、强大、快速、易用的文档、图片、音频、视频等在线工具，网友无需注册和下载安装即可使用即可免费使用各种各样优秀的在线工具。">
  <meta name="theme-color" content="#4fc08d">
  <meta name="baidu-site-verification" content="6h4OshN9qD" />
  <meta name="google-site-verification" content="eCONuTV0UYfug96V6vDv84ccs4VFjyu5m1UUfe-6ZXg" />
  <meta name="360-site-verification" content="94004bf18af88dafd9067a9a1b46f00a" />
  <meta name="author" content="fastools.cn">

  <meta property="og:title" content="快用工具 - 又快又好用的在线工具网">
  <meta property="og:site_name" content="快用工具">
  <meta property="og:type" content="website">
  <meta property="og:description" content="fastools.cn 快用工具 fastools 提供便捷、强大、快速、易用的文档、图片、音频、视频等在线工具，网友无需注册和下载安装即可使用即可免费使用各种各样优秀的在线工具。">
  <meta property="og:image" content="https://www.fastools.cn/favicon.png">
  <meta property="og:url" content="https://www.fastools.cn/">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="快用工具 - 又快又好用的在线工具网">
  <meta name="twitter:description" content="fastools.cn 快用工具 fastools 提供便捷、强大、快速、易用的文档、图片、音频、视频等在线工具，网友无需注册和下载安装即可使用即可免费使用各种各样优秀的在线工具。">
  <meta name="twitter:image" content="https://www.fastools.cn/favicon.png">

  <title><%= context.title %> - 又快又好用的在线工具网</title>
  <link rel="icon" type="image/png" href="<%= context.publicPath %>favicon.png" />
  <style>.skeleton {width: 100vw;height: 100vh;background-color: #f5f5f5;}.spinner {width: 80px;height: 80px;position: relative;left: 50%; top: 50%;
transform: translate3d(-50%, -50%, 0);}.double-bounce1,.double-bounce2 {width: 100%;height: 100%;border-radius: 50%;background-color: #4fc08d;opacity: 0.6;position: absolute;top: 0;left: 0;-webkit-animation: sk-bounce 2s infinite ease-in-out;animation: sk-bounce 2s infinite ease-in-out;
}.double-bounce2 {-webkit-animation-delay: -1s;animation-delay: -1s;}@-webkit-keyframes sk-bounce {0%,100% {-webkit-transform: scale(0);}50% {-webkit-transform: scale(1);}
}@keyframes sk-bounce {0%,100% {transform: scale(0);-webkit-transform: scale(0);}50% {transform: scale(1);-webkit-transform: scale(1);}
}@keyframes toplight-frame {0% {transform: skew(-20deg) translateX(-70px);}100% {transform: skew(-20deg) translateX(70px);}}.skeleton-wrapper {width: 100vw;height: 100vh;}
  </style>
</head>
<body>
  <noscript>你需要启用JavaScript才能运行!</noscript>
  <div id="root"></div>
  <div class="skeleton">
    <div class="spinner">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
    </div>
  </div>
  <script>
    if(!!window.ActiveXObject || "ActiveXObject" in window)
      document.getElementsByTagName('body')[0].innerHTML = '<h1>请使用最新版<a href="https://www.google.cn/intl/zh-CN/chrome/" target="_blank">谷歌</a>、<a href="http://www.firefox.com.cn/" target="_blank">火狐</a>、<a href="https://browser.qq.com/" target="_blank">  QQ</a>、<a href="https://browser.360.cn/ee/" target="_blank">  360</a>&nbsp; 浏览器等现代浏览器</h1>';

    var _hmt = _hmt || [];
    if (/fastools\.cn/.test(location.host)) {
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?07db889a1fcb45513ac9d9eb31055765";
      var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
  }
  </script>
  <script src="/qc-1.0.1.js" data-appid="101854393" charset="utf-8"></script>
</body>
</html>
