<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <link rel="icon" type="image/x-icon" href="<%= context.publicPath %>favicon.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="keywords" content="在线工具,自媒体工具,办公辅助工具,图片视频工具,文档工具,音频工具">
  <meta name="description" content="fastools.cn 提供便捷、强大、快速、易用的文档、图片、音频、视频等在线工具，网友无需注册和下载安装即可使用即可免费使用各种各样优秀的在线工具。">
  <meta name="author" content="fastools.cn">
  <meta property="og:title" content="快用工具网">
  <meta property="og:site_name" content="fastools">
  <meta property="og:type" content="website">
  <meta property="og:description" content="fastools.cn 提供便捷、强大、快速、易用的文档、图片、音频、视频等在线工具，网友无需注册和下载安装即可使用即可免费使用各种各样优秀的在线工具。">
  <meta property="og:image" content="https://www.fastools.cn/favicon.png">
  <meta property="og:url" content="https://www.fastools.cn/">
  <link rel="canonical" href="https://www.fastools.cn/">
  <title><%= context.title %> - 好快又好用</title>
</head>
<body id="root">
  <noscript>You need to enable JavaScript to run this app!</noscript>
</body>
</html>