.header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 999;
  padding: 0 30px;
  background: white;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-right: 4vw;
  img {
    height: 50px;
  }
}

.login {
  height: 100%;
  margin-left: auto;
  cursor: pointer;

  .name {
    margin-left: 1em;
  }
}
