.drawer {
  .user {
    display: flex;
    margin-bottom: 30px;

    .userInfo {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 15px;

      .vipContainer {
        display: flex;
        align-items: center;
      }

      .payButton {
        margin-left: 20px;
      }
    }
  }
}
