html,
body,
#root {
  height: 100%;
  padding: 0;
}

#root {
  display: none;
}

.icon {
  width: 1.3em; height: 1.3em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.ant-notification {
  z-index: 1000 !important;
}

@media (max-width: 480px) {
  .ant-card-body {
    padding: 12px;
  }
}

@media (min-width: 480px) {
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-track {
    padding: 0 2px;
    background-color: #e4e7ed;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #c0c4cc;
    min-height: 25px;
    min-width: 25px;
    border-radius: 6px;
    transition: all 0.2s;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #909399;
  }
}
