.container {
  padding: 10px;
  background-color: #fff;
  
  .header {
    display: flex;
    justify-content: flex-end;

    .headerButton {
      margin: 8px;
    }
  }
}

.iframe {
  height: 80vh;
  border: none;
}